{% extends "base.html.twig" %}

{% block title %}
    Opération interdite
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Désolé, vous n'avez pas l'autorisation d'effectuer cette action</h1>
        <p>Si vous pensez qu'il s'agit d'une erreur de fonctionnement du site, merci de nous contacter</p>
        <a href="{{path('homepage')}}" class="btn btn-primary">Retour à la page d'accueil</a>
    </div>
{% endblock %}